@media screen and (min-device-width: 425px) and (max-device-width: 1440px) {
.header1{
width: 10%;
}
.header2{
    width: 9%;
}
.header3{
    width: 10%;
}
.header4{
    width: 51%;
}
.header5{
    width: 11%;
}

}

.table>thead>tr>th {
    padding: 5px !important;
}

.table {
    width: 87%;
    margin-left: 6%;
}

.header1{
    text-align: center;
}

.header2{
    text-align: center;
}

.header3{
    text-align: center;
}

.header4{
    text-align: center;
}

.header5{
    text-align: center;
}

.form{
    background-color: #f1f1f6;
    padding: 72px;
    padding-top: 12px;
    padding-bottom: 10px;
}

.select2-container .select2-selection--single{
    height: 31px !important;
}

.ngx-pagination {
    padding: 0px !important;
    margin-bottom: 7px !important;
}

.formbuttons{
    background-color: #f1f1f6;
    padding-bottom: 7px;
}
@media screen and (min-device-width: 320px) and (max-device-width: 1023px) {
.pagination-class{
float: none !important;
}
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
.form {
    background-color: #4d50921f;
    padding: unset !important;
}
}


/* Overwrite Css */

thead{
    background-color: #4d5092cc!important;
    color: white !important;
}

.form-group {
    margin-bottom: 5px;
}

hr {
    margin-top: 6px;
    margin-bottom: 6px;
    border: 0;
    border-top: 1px solid #e4e2e2;
}

/* End Overwrite Css */